.home__bg {
  background-image: url("\src\img\bg.jpg");
  background-color: #010101;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
li.nav__items {
  font-size: 18px;
}
.home__content {
  padding: 125px 0px;
}
h1.home__text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(198, 201, 216, 0.75) !important;
}
h2.home__text {
  font-size: 54px;
  line-height: 54px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
}
h3.home__text {
  font-size: 50px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  line-height: 40px;
}
h4.home__text {
  font-size: 50px;
  font-weight: 800;
  line-height: 40px;
  font-family: Montserrat, sans-serif;
}
.header {
  transition: 0.4s all ease;
}
.header.active {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 0px 30px;
  background-color: #191919;
}
.toggle__menu {
  display: flex;
  justify-content: flex-end;
  float: right;
  z-index: 1000;
  width: 100%;
}
ul.sidebar.d__flex {
  flex-wrap: wrap;
  height: 100%;
  position: fixed;
  right: 0%;
  background: #0101017d;
  justify-content: center;
  width: 300px;
  top: 0%;
  flex-direction: column;
}
li.sideNavbar {
  padding: 25px 30px;
}
/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .navigation.pxy__30 {
    display: none;
  }
  h2.white.pz__10 {
    font-size: 50px !important;
  }
  svg.bi.bi-justify.white.pointer {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 425px) {
  h2.home__text.pz__10 {
    font-size: 32px;
  }
  h3.sweet.pz__10 {
    font-size: 40px;
  }
  h1.home__text {
    font-size: 14px;
  }
  h4.home__text {
    font-size: 45px;
  }
}

.box {
  border-radius: 2px;
  position: relative;
  width: 40px;
  height: 40px;
}

.navBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  cursor: pointer;
}

span {
  display: block;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 5px;
  background: #fff;
  transition: all 0.3s;
  position: relative;
}

span + span {
  margin-top: 6px;
}

.active span:nth-child(1) {
  animation: ease 0.7s top-1 forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.7s bottom-1 forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top-1 {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 11px;
    transform: rotate(0);
  }
  100% {
    top: 11px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 11px;
    transform: rotate(45deg);
  }
  50% {
    top: 11px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom-1 {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 11px;
    transform: rotate(0);
  }
  100% {
    bottom: 11px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 11px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 11px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#Text {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  fill: #f9004d;
  fill-opacity: 0.2;
  opacity: 0.2;
  transition: all 0.3s ease;
  animation: line-anim 2s ease alternate infinite;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 222;
    opacity: 1;
    fill-opacity: 0.7;
  }
}
